@media only screen and (max-width: 1024px) {

	.Home{
		padding: 15px;
	}
	section h1 {
		font-size: 70px;
		padding-bottom: 286px;
	}
	section .logo {
		position: absolute;
		top: 16px;
		left: 48px;
	}

}

.flex_box{
	width: 100%;
}

@media only screen and (max-width: 768px) {

	.Home {
		background-image: url("images/photo_2020-05-12_21-11-04.jpg");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

	}
	.contact-info .email-dask {
		font-size: 14px;
	}

.Home, .who_we_are, .amazing_people, .last-post, .contact{
	padding: 53px 15px;
}

	.last-post_content, .last-post_img {
		width: 100%;

	}
	section .logo {
		position: absolute;
		top: -8px;
		left: -26px;
	}
}


@media only screen and (max-width: 320px) {

}





