@media only screen and (max-width: 1024px) {

	.Home{
		padding: 73px;
	}
	section h1 {
		font-size: 70px;
		padding-bottom: 286px;
	}
	section .logo {
		position: absolute;
		top: 16px;
		left: 48px;
	}

}


@media only screen and (max-width: 768px) {

	.Home {
		background-image: url("images/photo_2020-05-12_21-11-04.jpg");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

	}


}


@media only screen and (max-width: 320px) {
	.contact-flex p {
		font-size: 1px;
	}

}

